@charset "utf-8";
/* CSS Document */
.phonemeMapSpan:hover, .wordRevealSpan:hover, .wordMatchSpan:hover {
	color: #28a745;
}
.wordMatchLayout, .phonemeMap, .phonemeItem, .immersionInstructions, .wordReveal {
	margin: 8pt 24pt 8pt 24pt;
}
.interacted {
	color: red;
}
.mainReader {
	font-size: 20pt;
	line-height: 1.7;
	text-align: left;
}
.noWrapSpan {
	white-space: nowrap;
}